body {
    /* background-image: url(../img/Layer-5.jpg); */
    /* background-size: 100%; */
    /* background-position: center; */
    height:auto;
    min-height:100%;
    background-repeat: no-repeat;
    }
.raphael-group-128-creditgroup{
    display:none;
    }
#hpiData {
    width: 70%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.39);
    color: black;
    border-radius: 4px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    float: left;
    height: 450px;
    }      
.dataChartWrapper{
    width: 24%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.87);
    font-family: roboto;
    color: #fff;
    float: left;
    margin-left: 15px;
    padding: 0px;
    overflow: hidden;
    }
.col-12 {
    width: 20%;
    float: left;
    margin-bottom: 12px;
    margin-left: 5px;
    font-size: 13px;
    padding: 5px;
    }
.col-10 {   
    margin-bottom: 12px;        
    margin-left: 5px;       
    font-size: 13px;        
    padding: 5px;       
    float: left;        
    }
.raphael-group-113-columns rect {
    width: 24px;
    }
.raphael-group-98-columns rect {
    width: 24px;
    }
.raphael-group-125-creditgroup{
    display:none;
    }
.title {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    padding: 10px;
    letter-spacing: 1px;
    color: #000000;
    margin: 30px 50px 5px 5px;
    }

.subtitle {
    font-size: 22px;
    color: #fff;

    text-align: center;
    font-weight: 300;
    }
.mlsTitle {
    font-size: 20px;
    color: #fff;       
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 300;
    float: left;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 0px 15px;
    line-height: 35px;
    height: 35px;
    }
.col-3 {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-top: 8px;
}

.row {
    width: 100%;
    float: left;
}
.context {
    float: left;
    padding: 0px;
    font-weight: 600;
    line-height: 35px !important;
    height: 30px;
    line-height: 30px;
    color: #fff;
    width: 33%;
    text-transform: capitalize;
    padding: 0px 15px;
}

.content {
    float: left;
    line-height: 35px !important;
    font-size: 13px;
    width: 30%;
    color: #000;
    position: relative;
    height: 30px;
}
.contentText {
    width: 111%;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.mlsContainer {
    float: left;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    width: calc(100% - 30px);
    margin-left: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}
.pptyContainer {
    float: left;
    width: calc(100% - 30px);
    margin: 15px;
}
.raphael-group-7-background>rect {
    fill: rgba(152, 36, 36, 0) !important;
}

svg#raphael-paper-5 {
    background-color: rgba(255, 255, 255, 0) !important;
}
.raphael-group-8-canvas rect {
    fill: rgba(255, 255, 255, 0) !important;
}
.raphael-group-123-creditgroup tspan {
    display: none;
}
.content select{
    width: 100%;
    outline: none;
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.submit{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(235, 15, 67);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    width: calc(100% - 22%);
    margin-left: 35px !important;
    border-radius: 5px;
    margin-bottom: 5px;
}
a {
    color: #fff;
    text-decoration: none;
}

text.highcharts-credits {
    display: none;
}
.fromfield {
    float: left;
    padding: 5px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    width: 15%;
    text-transform: capitalize;
    margin-left: 10px;
    margin-right: 8px;
}
.toField {
    float: left;
    width: 9%;
    padding: 5px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    margin-right: 8px;
}

.selectWrapper select {
    float: left;
    margin-right: 10px;
    width: 30%;
    color: #292929;
    font-size: 13px;
    border-radius: 4px;
}
input.locationSearchTextBox {
    width: 100%;
    height:  20px;
    outline: none;
    border-radius: 5px;
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 5px;
}
.locationSearch {
    position: absolute;
    top: 26px;
    background-color: #fff;
    z-index: 10;
    max-height: 125px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - 8px);
    margin: 0px;
    left: 4px;
    min-height: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
}
.locationSearch::-webkit-scrollbar {
    width: 4px;
}
.locationSearch::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #e8e8e8;
}
.locationSearch::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: orange;
}
.locationFilterText {
    height: 25px;
    line-height: 25px;
    padding: 0px 8px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.currentSource {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 20px;
    padding: 0px 6px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
}
.multiselect-parent.btn-group.dropdown-multiselect {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    width: 100%;
}
.pptyContainer>.row {
    margin: 0px;
}

.locationSearch.showLocation {
    opacity: 1;
    visibility: visible;
}
.fromToPanel {
    width: 100%;
    margin-left: 15px;
}
div#hpiData:after {
    content: "Period";
    position: relative;
    bottom: 10px;
    font-size: 13px;
    color: #000;
    left: 48%;
    transform: translateX(-50%);
}
.closeFilter {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    line-height: 12px;
    font-size: 10px;
    color: #dc2525;
    font-weight: 400;
    cursor: pointer;
}